:root {
  --red-imperial: #d38389;
  --red-black: #b75d69;
  --black: #333333;
  --white: #EFF6EE;
  --grey: #9197AE;
  --cadet: #273043;
  --green: #009b72;
  --blue: #009ddc;
  --purple: #8f95d3;
  --baby-blue: #89daff;
  --pink: #ff3366;
  --orange: #d98324;
}

* {
  box-sizing: border-box;
}
html {
  font-family: 'Sriracha', cursive;
  background-color: var(--white);
}

.container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  box-shadow: 0px 0px 14px 0px var(--grey);
}

.icon{
  color: var(--white);
  font-size: 1.5rem;
}

.icon:hover{
  cursor:pointer;
}

.header {
  height: 3rem;
  background-color: var(--red-black);
  margin-top: 1rem;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-left-icons__header{
  margin-left: 2rem;
  width: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu-right-icons__header{
  margin-right: 5rem;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main{
  height: 500px;
}


